*{
    margin: 0px;
    padding: 0px;
}   
    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --libra:'Libre Baskerville';
    --cor-1:#a2a6f2;
    --cor-2:#038c5a98;
    --cor-3:#04BF7B;
    --cor-4:#07D977;
    --cor-5:#07D977;
}
body{
    background-image:linear-gradient(to bottom,#54bfbf8f,#04BF7B8f,#7D97779f);
   background-image: url('imagens/pexels-antoni-shkraba-5816298\ \(2\).jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-size: var(--libra);
    font-weight: bold;
}


span{
    color: #5ca4f2;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.564);
}
header{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.bloco{
    background-image:linear-gradient(to bottom,#54bfbf,#04bf7a,#7d9777);
    margin: auto;
    text-align: justify;
    text-align: center;
    width: 250px;
    height: 95px;  
    padding: 5px; 
    margin-bottom: 10px;

}
#serviço h1{
    margin-bottom: 10px;
}
.button{
    background-color: var(--cor-2);
    width:100px;
    margin: auto;
}
.button:hover{
    background-color: var(--cor-1);
}
.button  a{
    color: black;
    text-decoration: none;
}
#ebook{
    background-image: url('imagens/ebook-.jpg');
    background-position: bottom bottom;
}
#ebook>h1{
    color: white;
    margin-bottom: 12px;
}


